{{/* 
	Outputs an imgx formated URL with optional transformations.
	
	@author The New Dynamic
	
	@access public

	@context dict .src [string] .query [string]
		It is recommanded to build .query string with `querify` to avoid format issues

	@example - In Partial
		{{- $query = querify "h" "800" "w" "800" "fit" "crop" -}}
		<img src="{{ partial "_components/image-src-imgx" (dict "src" $img "query" $query) }}" alt="">
*/}}
{{- $src := .src -}}
{{/* $sep separates imgx domain and image url. If Forestry removes the slash prepending FM value, we'll have to add it
as as $sep */}}
{{- $sep := "" -}}
{{- $image_url := index site.Params "image_url" -}}
{{- with $image_url -}}
	{{/* If we find `/uploads` in src, it means we're not using S3 and should replace `/uploads` with imgx domain */}}
	{{- if in $src "/uploads" -}}
		{{- $src = replace $src "/uploads" . -}}
	{{- else -}}
	{{/* Else, we use S3 and should include the seperator */}}
		{{- $src = printf "%s%s%s" $image_url $sep $src -}}
	{{- end -}}
{{- end -}}
{{/* If a query is passed as parameter, we add it to the url */}}
{{- with .query -}}
	{{- $src = printf "%s?%s" $src . -}}
{{- end -}}
{{- $src | absURL -}}